:root {
  --light-bg: rgba(255, 255, 255, 0.65);
  --bg: rgba(0, 0, 0, 0.2);
}

html {
  background-color: #ffffff;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px;
}

body,
button {
  font-size: 18px;
  font-family: 'Hind', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
